# Wrangle Report

<hr style="border: 0.5px solid black">

### Intoduction

In this project, our goal is to apply the knowledge that we gained from Chapter "Wrangle and Analyze Data" to a real-world dataset. The dataset that we used in this project is WeRateDogs, which was collected from tweets in @dog_rates on Twitter.

### Import libraries

We imported many libraries that help us for dealing with data.

1.pandas 

2.numpy

3.requests

4.tweepy

5.matplotlib.pyplot

6.re

7.json

<hr style="border: 0.5px solid black">

### Data Gathering

In our project, we gathered data from three different sources for our analysis.

1.Enhanced Twitter archive:  in  twitter_archive_enhanced.csv file.

2.Image prediction data: obtained by online scraping.


3.Twitter API: This dataset was downloaded from Twitter's API and converted from JSON to CSV.

**Note:** In Twitter API i tried to gather the data from API but I faced error,so I used the data that already gathered on Udacity website (the error mentioned in wrangle_act.ipynb)

<hr style="border: 0.5px solid black">

### Assessing Data

In Assessing Data procces we diveded the issues into two type: Quality,Tidiness issues.

>Quality Issue

1.timestamp stored as string not date and added by '+0000'

2.We need the original rating not retweets and replies (need to remove all the following columns:in_reply_to_status_id,in_reply_to_uesr_id,retweeted_status_id,retweeted_user_id,retweeted_status_timestamp )

3.The source column is not readable,We can remove the html tags to be easy to read the source of the tweet

4.There is some rows that have rating_numerator with large numbers (e.g. In row 2074 the rating_numerator is 420 out of 10 !!)

5.There is some rows that have rating_denominator grater than 10

6.After drop the rows that have rating_denominator!=10,We can drop column rating_denominator and rename the column rating_numerator to "rating_dog".We now the rating is out of 10 Now.

7.rename 'timestamp' to 'tweet_timestamp'

8.rename 'text' ot 'tweet_text'

9.Some of the tweets that the img_prdc classifies as images of dogs are not dogs, so based on that, we will remove the tweets that are not dogs.

>Tidiness issue

1.The doggo,floofer,pupper and puppo can be in one columns called "dog_stage"

2.There are Three tables: tweets_arhv,img_pdct and tweet_json. We need to merge all of these tables together.

<hr style="border: 0.5px solid black">

### Cleaning Data

In this section, we solve all the issues we mentioned above by using Pandas. We dropped the columns that we didn't need. Also, remove rows that do not comply with our requirements. Addintional merged all three tables with each other and stored them in a file named "twitter_archive_master' in csv format.